/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* ImageAnimation.css */
.image-container {
  text-align: center;
}

.image-container img {
  /* Your existing styles */
  width: 100%;
  height: auto;
}
.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the spacing between components as needed */
}
